# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
.env/
.env.bak/
.venv/

# Jupyter
.ipynb_checkpoints

# Logs
*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/
.history/

# Coverage / Testing
.coverage
.tox/
.nox/
.pytest_cache/
htmlcov/

# Misc
*.swp
*~
